[submodule "apps/website"]
	path = apps/website
	url = git@github.com:krishnans2006/website.git
[submodule "apps/gitcord"]
	path = apps/gitcord
	url = git@github.com:krishnans2006/gitcord.git
[submodule "apps/tjcsl-discord-bot"]
	path = apps/tjcsl-discord-bot
	url = git@github.com:krishnans2006/tjcsl-discord-bot.git
[submodule "apps/chesscordv2"]
	path = apps/chesscordv2
	url = git@github.com:krishnans2006/ChessCordv2.git
[submodule "apps/chesscordv1"]
	path = apps/chesscordv1
	url = git@github.com:krishnans2006/ChessCord.git
[submodule "apps/wakapi"]
	path = apps/wakapi
	url = git@github.com:krishnans2006/wakapi.git
